$doggle_style: 'Dongle', sans-serif;
$poppins_style: 'Poppins', sans-serif;
$source_style: 'Source Sans Pro', sans-serif;

// COLORS
$background-color: white;
$bg-green:#1D809F;
$bg-yellow:#ecb807;
$bg-text:white;
$bg-dark-grey:#212529;
$bg-icons:rgba(52, 58, 64, 0.5);
